$tile-height: 200px;
$primary-ci: #0091da;
$dark: #505050;
$light: #b2b2b2;
$font: 'Open Sans', sans-serif;
$tile-padding: 12px;
$fade-speed: 0.2s;

$header-height-lg: 190px;
$header-height-sm: 50px;

$grid-gutter-width: 10px;